diffusers==0.39.0
einops==0.8.2
fsspec==2025.2.0
huggingface-hub==0.36.2
imageio==2.37.4
imageio-ffmpeg==0.6.0
kornia
matplotlib==3.8.4
natsort==8.4.0
numpy==1.26.4
omegaconf
packaging==26.3
pillow
pudb
pytorch-fid==0.3.0
pytorch_lightning==2.6.1
requests
safetensors==0.8.0
scikit-image==0.22.0
timm==0.9.10
torch==2.10.0
torchmetrics==1.8.2
torchvision==0.25.0
torch-fidelity==0.4.0
transformers==4.57.6
tqdm
wandb
xformers==0.0.35
